target/IAR8.x/*.dep
target/IAR8.x/settings/*
*.dbgdt
*.dnx
*.hex
*.out
*.sim
*.map
*.pbd*
*.pbi
*.o
*.xcl
*.pbw
build/MINGW*
*.log
.jlink,.bak
*.jlink
/.settings/*
/Release/*
/Debug/*
/Documentation/*
*.launch
*.bak
*.txt
*.obj
*.exe
/Debug/
/Qa/
